body {
    background: #DDDDDD;
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

.navbar {
    background-color: #5B859E;
    color: white;
}

.page-container {
    margin-top: 10px;
}

.square {
    background-color: #5B859E;
    /* margin: auto auto; */
    padding: auto auto;
}

.game-page-square {
    background-color: #5B859E;
    padding: auto auto;
}

.friend-page-square {
    background-color: #C4C4C4;
    padding: auto auto;
}

#gameBoard {
    height: 60vh;
    margin-top: 10px;
}

#opponentContainer {
    height: 10vh;
    background-color: #264553;
    border: 2px solid black;
}

#playerContainer {
    background-color: #264553;
    border: 2px solid black;
    height: 10vh;
    margin-top: 10px;
}

.square>div {
    color: white;
}

#myBoard {
    margin-top: 1rem;
}

img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.my-row {
    margin-bottom: 10px;
    justify-content: center;
}

.friend-row {
    margin-bottom: 30px;
    justify-content: center;

}

h3 {
    color: white;
    background-color: #264553;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5px;
}

h2 {
    border: solid #264553 4px;
    background-color: #5B859E;
    color: white;
}

.bmd-layout-content {
    height: 100vh;
}

.navbar input[type=text] {
    position: fixed;
    left: auto;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#fab {
    background-color: #5B859E;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}


.navbar .sBtn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#signOutButton {
    color: #3f51b5;
}